div.st-emotion-cache-seewz2.erovr380
{
    color: rgb(0, 0, 0);
    font-size: 17px;
}
div.stMetric.st-emotion-cache-0.e14qm3310 {
    border-radius: 7px;
    box-shadow: 0px 0px 10px 0px #0000006e;
    background-color: #ffffff;
    
    height: 150px;
    width: 200px;
    align-items: center;
}

div.st-emotion-cache-qoz3f2.erovr380 P {
    text-align: center;
    margin-left: 30px;
    margin-top: 10px;
    color: rgb(41, 41, 41);
    font-size: 20px;
    font-family: 'Bebas Neue', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    
    

}
div.st-emotion-cache-1wivap2.e14qm3311 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: rgb(1, 118, 185);
}


